<!DOCTYPE html>
<html>
<head>
     <title>Help</title>
     <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNprYKa-rQ7UzOEszQAvSQNIUSZceHXlxSlA&usqp=CAU">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="main-content">
   {{>header}}
  {{helptext}} 
  </div>
 
  {{>footer}}

</body>

</html>